*{
    padding: 0;
    margin: 0;
    /* font-family: sans-serif; */
    font-family: sans-serif;

}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.75)),url(../images/lib1.jpg);
    background-size: cover;
    background-position: center;
}

.logo{
    width: 200px;
    cursor: pointer;
   
}
/* nav ul{
    background: #000;
    width: 100%;
} */


.li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688; 
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}
.li:hover::after{
    width: 100%;
}
a.active{
    border-bottom-color: #009688;
}
.content{
    width: 100%;
    position: absolute;
    /* top: 50%; */
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    /* display:flex; */
    align-items: center;
    bottom: 8%;
    /* margin-top: 10px;  */
}
.content h1{
    font-size: 70px;
    line-height: 160px;
    margin-left: 5px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    margin-top: -120px;   
    /* -webkit-text-stroke: 0.3vw #fff; */
    background: url(back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    /* text-shadow: 1px 1px linear-gradient(rgba(104, 176, 189, 0.75),rgba(73, 134, 153, 0.75)) ; */
}
@keyframes back {
    100%{
        background-position: 2000px 0;
    }  
}
 .content p
{
   /* text-transform: uppercase;  */
  background-image: linear-gradient(
    -225deg,
    #171c1d 0%,
    #ffffff 29%,
    #c8dbdb 67%,
    #97ebdd 100%
  );
  font-family: 'Brush Script MT', cursive;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
    color: #fff; 
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: textclip 3s linear infinite;
  display: inline-block;
      font-size: 40px;
      /* margin-left: 300px; */
      text-align: center;
      /* margin-top: 90px;  */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
} 
/* .content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
} */
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.2s;
}
button:hover span{
    width: 100%;

}
button:hover{
    border: none;
}
.text{
padding: 20px 8%;
}

#aboutus{
    width: 100%;
    padding: 70px 0;

}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #11746a;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 40px;
}
.aboutus-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.aboutus1{
    flex-basis: 50%;
}
.aboutus-image{
    flex-basis: 50%;
    margin: auto;
}
.aboutus-image img{
    width: 70%;
    border-radius: 10px;
    height: 450px;
}
.aboutus1 h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}
.aboutus-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.aboutus-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}
.aboutus-text p{
    padding: 0 20px;
    text-align: initial;
}
/* contact us */
#contactus{
    padding: 100px 0 20px;
    background:linear-gradient(#81c7c0,#fff);
    position: relative;
}
.contact-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-left,.contact-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.contact-right{
    text-align: right;
}
.contact-row h1{
    margin: 10px 0;
}
.contact-row p{
    line-height: 35px;
}
.contact-left .fa,.contact-right .fa{
    font-size: 20px;
    margin: 10px;

}
.contact-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.social-links{
    text-align: center;
}
.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition: -5s;
}
.social-links .fa:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
}
